colorPrincipal = #06135a
colorSecundario = #000000
colorTextoTitulos = white
max = 100%
alturaHeader = 70px
paddingA = 15px
paddingB = 20px


article
  width 95%
  margin auto
  margin-top 25px
  h3
    margin-left 15px
    margin-bottom 15px

#lista_contacto
  li
    line-height 35px

#banner-contact
  background-image url("../media/images/background_contact_s.jpg");

#form_contacto
  width 90%
  margin auto
  background transparent
  font-size 1em
  line-height 19px
  *
    width max
  input, textarea
    background-color rgb(225, 225, 225)
    max-width max
    border 0
    font-size 1.1em
    padding paddingA -(5px)
    margin-bottom paddingA
    margin-top 2px
  input
    height 40px
  textarea
    max-height 300px
  #enviar
    font-size .8em
    font-weight bold

#form_contacto input[type=button]:active
  background-color rgba(165, 172, 177, 0.91)


#lista_contacto
  width max - (10%)
  margin auto
  list-style none

#lista_contacto li a
  color colorPrincipal
  margin-left 2px
  display inline-block
  width 65%

/** RESOLUCIONES SUPERIORES A 410 PX **/
@media screen and (min-width 410px)

  #banner-contact
    background-image url("../media/images/background_contact_m.jpg")


@media screen and (min-width 750px)

  #banner-contact
    background-image url("../media/images/background_contact_b.jpg")

  #lista_contacto
    width 90%
    margin-left 10%
    letter-spacing 0px
    -moz-columns 2
    -webkit-columns 2
    -ms-columns 2
    li
      line-height 30px

  #form_contacto
    input, textarea
      margin-top 15px
